<h1 class="text-center text-dark text-info bg-warning p-5 fw-bold">WELCOME TO Admin Page </h1>
    <p class="text-center p-5">admin successfully loged</p>
    <a href="/admin/adminlogout" class="btn btn-danger m-3">logout</a>
   
    <a href="/admin/viewuser" class="btn btn-danger ">All Users</a>
    