<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2 class="text-center fw-bold">Admin Login</h2>
      <form action="/admin/adminlogin" method="post">
       {{#if error}}
        <p class="text-danger text-center ">invalid password or username</p>
       {{else}}
      
       {{/if}}
       
        <div class="from-group">

          <label>User Name</label>
          <input type="text" class="form-control mt-2" name="username" placeholder="user name" required="">

        </div>

        <div class="from-group ">

          <label class="mt-2">Password</label>
          <input type="password" class="form-control mt-2" name="password" placeholder="password" required="">

        </div>

       
        <button type="submit" class="btn btn-success float-right mt-3">Login</button>


      </form>
    </div>
  </div>
</div>