<h1 class="text-center text-info bg-dark p-5 fw-bold">WELCOME TO HOME PAGE </h1>
    <p class="text-center p-5">your successfully logged in...</p>
    <a href="/logout" class="btn btn-danger">logout</a>