.container-fluid{
    background-color:#128c7e;
  
   
}
.navbar-brand{
   margin-left: 10%;
    padding-top: 3%;

}

.nav-items{
   margin-left: 10%;
   padding-top: 3%;


}
.nav-item{
    margin-left: 10%;
 
 
 }
 
 .sec1text3{
    color:#5e5e5e;
    
 }
 .sec1img1{
    margin-left: 20%;
 }
 .sec2text{
    margin-left: 30%;
    color: #075e54;
 }
.sec1{
    padding-top: 5%;
}

.sec2{
   
}


.sec2box1{
    color:#101010 ;
    background-color:#d8e8ea;
    padding-top:10%;
    
    
    
    
}   
.sec2box2{
    background-color: #e7f0e4;
    padding-top:10%;
    
}

.sec2img2{
    margin-left: 25%;
}


.sec2img1{

    margin-left:25%;
    width:50%;
    
    


}
.sec2text2{
    padding-top: 13%;
}
.sec2btn{
    margin-top: 10%;
    
 
}
